--extra-index-url https://download.pytorch.org/whl/cu121

numpy==1.23.5
opencv-python==4.10.0.84 
pillow==10.4.0
matplotlib==3.7.2
torch==2.4.1
torchvision==0.19.1
ml-collections==0.1.1
pybboxes==0.1.6
ultralytics==8.0.238
transformers==4.45.1
loguru==0.4.6
wandb==0.18.5
python-dotenv==1.0.1
onnx==1.17.0
onnxruntime==1.19.2
